@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  padding-bottom: 20px;
  z-index: 2;
  margin: 0 10%;
  height: auto;
  min-height: 60px;
}

.logoImage {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 30%;
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text); /* Consistent light theme text color */
  text-decoration: none;
}
.menuItems a:hover {
  color: var(--color-primary); /* Light violet for hover effect */
  transition: 0.3s;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: var(--color-dark); /* Dark background for the menu */
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    margin: 0 15px;
    padding-top: 30px;
  }

  .menuItems a {
    font-size: 16px;
  }

  .menu {
    margin-right: 0;
    right: 15px;
  }

  .menuItems {
    padding: 20px 25px;
    gap: 10px;
  }

  .logoImage {
    width: 40%;
  }
}
